# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

/Binary/

############################################################################
.vs/
packages/

Server/x64/
Server/packages.config

ConsoleClient/x64/
ConsoleClient/packages.config

MFCServer/x64/
MFCServer/packages.config

MFCClient/x64/
MFCClient/packages.config


############################################################################
# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules


# End of https://www.toptal.com/developers/gitignore/api/dotnetcore

############################################################################
